<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title th:text="#{index.page.title}">Page Title</title>
	<!--/*/ <th:block th:include="fragments/inc_header :: head"></th:block> /*/-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse" th:text="#{index.page.menu}">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">THE</span> ORCS
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about" th:text="#{index.page.menu.about}">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download" th:text="#{index.page.menu.play}">Play !</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact" th:text="#{index.page.menu.contact}">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">The ORCS</h1>
                        <p class="intro-text">The Online Roleplaying Chronicle System
                            <br /><span th:text="#{index.page.createdby}">Created by Liber Mundi</span></p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 th:text="#{index.page.about}">About The ORCS</h2>
                <p th:utext="#{index.page.intro}">Introduction about the ORCS</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 th:text="#{index.page.play}">Play with The ORCS</h2>
                    <p th:utext="#{index.page.play.intro}">You can start playing immediately by creating your own account. It is FREE !</p>
                    <a th:href="@{'manager/login'}" class="btn btn-default btn-lg" th:text="#{index.page.visit}">Visit Signin Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 th:text="#{index.page.contactus}">Contact Liber Mundi</h2>
                <p th:text="#{index.page.contactus.intro}">Feel free to email us to provide some feedback on our platform, give us suggestions for new features, report issues, or just say hello!</p>
                <p><a href="mailto:theorcs@liber-mundi.org">theorcs@liber-mundi.org</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/Liber-Mundi-129566170411112/" class="btn btn-default btn-lg"><i class="fa fa-facebook-square fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/kheldar666/theorcs" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.liber-mundi.org" class="btn btn-default btn-lg"><i class="fa fa-compass fa-fw"></i> <span class="network-name" th:text="#{index.page.website}">Website</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>
	<!--/*/ <th:block th:include="fragments/inc_footer :: footer"></th:block> /*/-->
</body>

</html>
